<p>Stock Name: <%= @stock.name %></p>
<p>Stock Price: <%= @stock.price %></p>
<%= link_to "Buy Stock",  new_stock_holding_path(@stock) %>
<br>
<% if current_account.broker_acc %>
<%= link_to "Edit Stock", edit_stock_path %>
<%end%>
<br>
<%= link_to "Back to Stock Selection", stocks_path %>