<%= link_to "log In", login_path %><br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
<br>
<br>
<% if @account.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@account.errors.count, "error") %>
      prohibited this account from being created:
    </h2>
    <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>
<br>
<%= form_for @account do |f| %>
    Username: <%= f.text_field :name %><br>
    Password: <%= f.password_field :password %><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br>
    Balance: <%= f.text_field :balance %><br>
    Broker Account: <%= f.check_box :broker_acc %>
    <br>
    <br>
    <%= f.submit "Create Account" %>
   <% end %>
   
   