<% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %>

<p>Name: <%= @account.name %></p>
<p>Balance: <%= @account.balance %></p>
<% if @account.broker_acc %>
<p>Broker Account: <%= "Yes" %></p>
<% end %>
<br>
Stock Portfolio:<br>
<table class="table">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>
<tbody>
    <tr>
      <td><strong>Stock Name</strong></td>
      <td><strong>Balance</strong></td>
      <td><strong>Purchase Price</strong></td>
      <td><strong>Link</strong></td>
    </tr>
<% @account.holdings.each do |s| %>
    <tr>
        <td><%= s.stock.name %></td>
        <td><%= s.balance %></td>
        <td><%= s.price %></td>
        <td><%= link_to "Buy #{s.stock.name}", stock_path(s.stock) %></td>
    </tr>
  <% end %>
</tbody>
</table>
<br>
<br>

<% if @account.provider %>
<%= form_for @account do |f| %>
  Balance: <%= f.text_field :balance %><br>
  Broker Account: <%= f.check_box :broker_acc %>
  <br>
  <br>
  <%= f.submit "Enable Account" %>
 <% end %>
 <% end %>

<%= link_to "Stock Page", stocks_path %>